# Cache and logs (Symfony2)
/app/cache/*
/app/logs/*
!app/cache/.gitkeep
!app/logs/.gitkeep

# Cache and logs (Symfony3)
/service/var/cache/*
/service/var/logs/*
!var/cache/.gitkeep
!var/logs/.gitkeep

# Parameters
/app/config/parameters.yml
/app/config/parameters.ini

# Managed by Composer
/app/bootstrap.php.cache
/service/var/bootstrap.php.cache
/bin/console
!bin/console
!bin/symfony_requirements
/vendor/

# Assets and user uploads
/service/web/bundles/
/service/web/uploads/

# Assets managed by Bower
/service/web/assets/vendor/

# PHPUnit
/app/phpunit.xml
/phpunit.xml

# Build data
/build/

# Composer PHAR
/composer.phar


/.idea/
