{% extends "::base.html.twig" %}

{% block title %}Центр Крови{% endblock %}

{% block body %}
    <div class="container wrapper">
        <div class="logo"><a href="http://czsale2.sensemedia.cz/index.html"><img src="{{ asset('bundles/bloodcentermain/images/czsale-logo.png') }}" alt="CZSale" title="CZSale"></a></div>
        <nav class="navbar navbar-default" role="navigation">
            <div class="navbar-header">
                <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#czsale-navbar">
                    <span class="sr-only">Toggle navigation</span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                    <span class="icon-bar"></span>
                </button>
            </div>
            <div class="collapse navbar-collapse" id="czsale-navbar">
                <a href="./CZSale - Add classified_files/CZSale - Add classified.html" class="btn btn-success navbar-btn navbar-left add-classified-btn" role="button">Add classified</a>
                <ul class="nav navbar-nav navbar-right">
                    <li class="dropdown">
                        <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="dropdown-toggle" data-toggle="dropdown">Pages <b class="caret"></b></a>
                        <ul class="dropdown-menu">
                            <li><a href="http://czsale2.sensemedia.cz/index.html">Home page</a></li>
                            <li><a href="./CZSale - Add classified_files/CZSale - Add classified.html">Add classified</a></li>
                            <li><a href="http://czsale2.sensemedia.cz/category.html">Category page</a></li>
                            <li><a href="http://czsale2.sensemedia.cz/detail.html">Classified detail</a></li>
                            <li><a href="http://czsale2.sensemedia.cz/conditions.html">Rules &amp; Conditions</a></li>
                            <li><a href="http://czsale2.sensemedia.cz/help.html">Help (FAQ)</a></li>
                            <li><a href="http://czsale2.sensemedia.cz/contact.html">Contact</a></li>
                            <li><a href="http://czsale2.sensemedia.cz/signUp.html">Sign Up</a></li>
                        </ul>
                    </li>
                    <li><a href="http://czsale2.sensemedia.cz/help.html">Help</a></li>
                    <li><a href="http://czsale2.sensemedia.cz/signUp.html">Sign Up</a></li>
                    <li class="dropdown">
                        <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="dropdown-toggle" data-toggle="dropdown">Sign in <b class="caret"></b></a>
                        <ul class="dropdown-menu" style="padding: 15px;min-width: 250px;">
                            <li>
                                <div class="row">
                                    <div class="col-md-12">
                                        <form class="form" role="form" method="post" action="http://czsale2.sensemedia.cz/login" accept-charset="UTF-8" id="login-nav">
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputEmail2">Email address</label>
                                                <input type="email" class="form-control" id="exampleInputEmail2" placeholder="Email address" required="">
                                            </div>
                                            <div class="form-group">
                                                <label class="sr-only" for="exampleInputPassword2">Password</label>
                                                <input type="password" class="form-control" id="exampleInputPassword2" placeholder="Password" required="">
                                            </div>
                                            <div class="checkbox">
                                                <label>
                                                    <input type="checkbox"> Remember me
                                                </label>
                                            </div>
                                            <div class="form-group">
                                                <button type="submit" class="btn btn-success btn-block">Sign in</button>
                                            </div>
                                        </form>
                                    </div>
                                </div>
                            </li>
                            <li class="divider"></li>
                            <li>
                                <div class="form-group">
                                    <button onclick="location.href=&#39;#&#39;" class="btn btn-default btn-block btn-social btn-facebook"><i class="fa fa-facebook"></i> Sign in with Facebook</button>
                                    <button onclick="location.href=&#39;#&#39;" class="btn btn-default btn-block btn-social btn-twitter"><i class="fa fa-twitter"></i> Sign in with Twitter</button>
                                    <button onclick="location.href=&#39;#&#39;" class="btn btn-default btn-block btn-social btn-google-plus"><i class="fa fa-google-plus"></i> Sign in with Google</button>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>
            </div>
        </nav>
        <div class="row content">
            <div class="col-lg-3 content-left">
                <h4>Search</h4>
                <div class="well well-sm">
                    <form>
                        <div class="input-group">
                            <input type="text" class="form-control" placeholder="What are you looking for?">
								<span class="input-group-btn">
									<button class="btn btn-primary" type="submit"><span class="glyphicon glyphicon-search"></span></button>
								</span>
                        </div>
                    </form>
                </div>
                <h4>Categories</h4>
                <div class="well well-sm hidden-lg">
                    <div class="mobile-categories"><select class="form-control"><option value="#">Books </option><option value="#">Cameras &amp; Photo </option><option value="#">Cell Phones &amp; Accessories </option><option value="#">Clothing, Shoes &amp; Accessories </option><option value="#">Computers &amp; Networking </option><option value="#">DVDs &amp; Movies </option><option value="#">Health &amp; Beauty </option><option value="#">Music </option><option value="#">Toys &amp; Hobbies </option></select></div>
                </div>
                <div class="categories list-group hidden-xs hidden-sm hidden-md">
                    <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="list-group-item">Books <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="list-group-item">Cameras &amp; Photo <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="list-group-item">Cell Phones &amp; Accessories <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="list-group-item">Clothing, Shoes &amp; Accessories <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="list-group-item">Computers &amp; Networking <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="list-group-item">DVDs &amp; Movies <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="list-group-item">Health &amp; Beauty <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="list-group-item">Music <span class="glyphicon glyphicon-chevron-right"></span></a>
                    <a href="http://czsale2.sensemedia.cz/addClassified.html#" class="list-group-item">Toys &amp; Hobbies <span class="glyphicon glyphicon-chevron-right"></span></a>
                </div>
                <div class="hidden-xs hidden-sm hidden-md">
                    <h4>Newest classifieds</h4>
                    <div class="newest-classifieds">
                        <div class="media">
                            <a class="pull-left" href="http://czsale2.sensemedia.cz/addClassified.html#">
                                <img class="media-object" style="width: 64px; height: 64px;" src="./CZSale - Add classified_files/e0e0e0">
                            </a>
                            <div class="media-body">
                                <p><a href="http://czsale2.sensemedia.cz/addClassified.html#"><strong>Samsung Galaxy S4</strong></a></p>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel ...</p>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="http://czsale2.sensemedia.cz/addClassified.html#">
                                <img class="media-object" style="width: 64px; height: 64px;" src="./CZSale - Add classified_files/e0e0e0">
                            </a>
                            <div class="media-body">
                                <p><a href="http://czsale2.sensemedia.cz/addClassified.html#"><strong>Vizio 60" Slim Frame 3D</strong></a></p>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel ...</p>
                            </div>
                        </div>
                        <div class="media">
                            <a class="pull-left" href="http://czsale2.sensemedia.cz/addClassified.html#">
                                <img class="media-object" style="width: 64px; height: 64px;" src="./CZSale - Add classified_files/e0e0e0">
                            </a>
                            <div class="media-body">
                                <p><a href="http://czsale2.sensemedia.cz/addClassified.html#"><strong>Apple McBook Pro</strong></a></p>
                                <p>Cras sit amet nibh libero, in gravida nulla. Nulla vel ...</p>
                            </div>
                        </div>
                        <p class="text-right show-more"><a href="http://czsale2.sensemedia.cz/addClassified.html#">More →</a></p>
                    </div>
                </div>
            </div>
            <div class="col-lg-9 content-right">
                <ol class="breadcrumb">
                    <li><a href="http://czsale2.sensemedia.cz/index.html">Home</a></li>
                    <li><a href="./CZSale - Add classified_files/CZSale - Add classified.html">Add classified</a></li>
                </ol>
                <h2>Add classified</h2>
                <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet porta eros, eget facilisis arcu. Duis condimentum fermentum enim, ac rutrum erat venenatis vel. Morbi pharetra viverra faucibus.</p>
                <hr>
                <form role="form">
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Classified sections</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="section1">Main section</label>
                                <select id="section1" class="form-control">
                                    <option selected="selected">Select section</option>
                                    <option>Books</option>
                                    <option>Cameras &amp; Photo</option>
                                    <option>Cell Phones &amp; Accessories</option>
                                    <option>Clothing, Shoes &amp; Accessories</option>
                                    <option>Computers &amp; Networking</option>
                                    <option>DVDs &amp; Movies</option>
                                    <option>Health &amp; Beauty</option>
                                    <option>Music</option>
                                    <option>Toys &amp; Hobbies</option>
                                </select>
                            </div>
                            <div class="well">
                                <label>Extra sections</label>
                                <div class="checkbox" style="margin-top: 0;">
                                    <label><input type="checkbox"> Featured list (+ 12 EUR)</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox"> Recommended list (+ 6 EUR)</label>
                                </div>
                                <div class="checkbox">
                                    <label><input type="checkbox"> Advertising in search results (+ 6 EUR)</label>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Classified details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="type">Type</label>
                                <select id="type" class="form-control">
                                    <option selected="selected">Select type</option>
                                    <option>Offer</option>
                                    <option>Demand</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="category">Category</label>
                                <select id="category" class="form-control">
                                    <option value="0" selected="selected">Select category</option>
                                    <option value="1">DVD, Blu-ray devices</option>
                                    <option value="32">GPS navigations</option>
                                    <option value="4">Graphics cards</option>
                                    <option value="5">Hard drives</option>
                                    <option value="25">Game controllers</option>
                                    <option value="30">Games</option>
                                    <option value="27">Coolers</option>
                                    <option value="7">Printers</option>
                                    <option value="9">LCD screens</option>
                                    <option value="2">Modems</option>
                                    <option value="26">MP3 players</option>
                                    <option value="10">Notebooks</option>
                                    <option value="12">PC, Computers</option>
                                    <option value="13">Processors</option>
                                    <option value="14">Network devices</option>
                                    <option value="17">Software</option>
                                    <option value="24">Tablets, E-readers</option>
                                    <option value="28">Wireless, WiFi</option>
                                    <option value="19">Motherboards</option>
                                    <option value="22">Other</option>
                                </select>
                            </div>
                            <div class="form-group">
                                <label for="heading">Heading</label>
                                <input type="text" class="form-control" id="heading" placeholder="eg. Apple iPad mini 32GB Wi-Fi + Cellular 1 Year Warranty">
                            </div>
                            <div class="form-group">
                                <label for="text">Text</label>
                                <textarea id="text" class="form-control" rows="8"></textarea>
                            </div>
                            <div class="form-group">
                                <label>Price</label>
                                <div class="form-inline">
                                    <div class="form-group">
                                        <div class="input-group" style="width: 150px;">
                                            <input type="text" class="form-control" id="price">
                                            <span class="input-group-addon">EUR</span>
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <p class="form-control-static" style="padding: 0 10px;">or</p>
                                    </div>
                                    <div class="form-group">
                                        <select id="price-other" class="form-control">
                                            <option value="0" selected="selected">Select alternative pricing</option>
                                            <option value="1">By deal</option>
                                            <option value="2">By offer</option>
                                            <option value="3">Exchange</option>
                                            <option value="4">For free</option>
                                        </select>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <label for="zip">Zip code</label>
                                <input type="text" class="form-control" id="zip" style="width: 150px;">
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Classified images</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label>Select images</label>
                                <input type="file" id="image1">
                                <input type="file" id="image2">
                                <input type="file" id="image3">
                                <input type="file" id="image4">
                                <input type="file" id="image5">
                            </div>
                            <div class="form-group">
                                <label for="video">Video (YouTube embed code)</label>
                                <div class="input-group">
                                    <input type="text" class="form-control" id="video">
                                    <span class="input-group-addon"><span class="glyphicon glyphicon-link"></span></span>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="panel panel-info">
                        <div class="panel-heading">
                            <h3 class="panel-title">Your personal details</h3>
                        </div>
                        <div class="panel-body">
                            <div class="form-group">
                                <label for="userName">Your name</label>
                                <input type="text" class="form-control" id="userName">
                            </div>
                            <div class="form-group">
                                <label for="userPhone">Phone</label>
                                <input type="text" class="form-control" id="userPhone">
                            </div>
                            <div class="form-group">
                                <label for="userEmail">E-mail</label>
                                <input type="email" class="form-control" id="userEmail">
                            </div>
                            <div class="form-group">
                                <label for="userPass">Password</label>
                                <input type="password" class="form-control" id="userPass">
                            </div>
                        </div>
                    </div>
                    <div class="well">
                        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Praesent sit amet porta eros, eget facilisis arcu. Duis condimentum fermentum enim, ac rutrum erat venenatis vel. Morbi pharetra viverra faucibus.</p>
                        <div class="checkbox">
                            <label><input type="checkbox" checked="checked"> Sign Up for Newsletter</label>
                        </div>
                        <div class="checkbox">
                            <label><input type="checkbox"> I agree to the <a href="http://czsale2.sensemedia.cz/addClassified.html#">Terms of Use</a></label>
                        </div>
                        <button type="button" class="btn btn-success">Preview &amp; Save</button>
                    </div>
                </form>
            </div>
        </div>
        <div class="footer">
            <div class="footer-content">
                <div class="row">
                    <div class="col-xs-6">
                        <img src="./CZSale - Add classified_files/czsale-logo.png" alt="CZSale" title="CZSale" style="width: 100px; height: 58px;">
                    </div>
                    <div class="col-xs-6 text-right">
                        <a href="http://czsale2.sensemedia.cz/help.html" class="btn btn-link">Help</a>
                        <span class="bar">|</span>
                        <a href="http://czsale2.sensemedia.cz/contact.html" class="btn btn-link">Contact</a>
                        <span class="bar">|</span>
                        <a href="http://czsale2.sensemedia.cz/conditions.html" class="btn btn-link">Rules &amp; conditions</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

{% endblock %}